#delete{
    display: none;
    transition: smooth 0.8s linear;

  }
  
  #delete.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #out{
      font-size: 20px;
      text-align: center;
  }

  .delbtn{
    font-size: 25px;
    background-color: red;
  }