* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(110, 196, 24);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 210vh;
  height: 11vh;
}

.show-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  top: 19px;
}

.container {
  width: 20vw;
  height: 60vh;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  border-radius: 50px;
  background: #8fe0e6;
  box-shadow: inset -20px 20px 60px #e5ffff;
  padding: 20px;
  overflow: hidden;
  border: 1px solid;
}

.image {
  height: 30vh;
  width: 20vw;
  display: flex;
  position: relative;
  right: 20px;
  bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.info {
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
}

button {
  background-color: crimson;
}

h2{
    text-decoration-line: underline;
}

.press{
    background-color: darkgray;
    height: 5vh;
    width: 5vw;
    font-size: 15px;
}