#update {
    display: none;
    border-radius: 30px;
    background: #1cd1e9;
    box-shadow: inset 20px 20px 60px #18b2c6, inset -20px -20px 60px #20f0ff;
    padding: 20px;
}
  
  #update.active {
    display: flex;

  }
  
.product-info-update{
  background-color: white;
  border: 1px solid black;
  justify-self: center;
  height: 50px;
  width: 300px;
  font-size: 20px;
  text-align: center;
}

.product-info-update{
  font-size: 15px;
}